.venue {
	margin-top: 50px;
	margin-bottom: 90px;
}

.venue hr {
	border-color: gray;
}

.venue__image {
	height: 350px;
}

.venue__details {
	height: 200px;
	border-radius: 6px;
	border: 1px solid gray;
}

.venue__image img {
	width: 100%;
	object-fit: cover;
	height: 330px;
	min-height: 300px;
	border-radius: 6px;
}
